{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}


<h2 class="responsive">Touts les stagiaires </h2>
<div class="stagiaires">
<table>
    <tr>
        <th colspan="5">Liste Des Stagiaires</th>
    </tr>
    <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th></th>
        <th></th>
    </tr>


{% for stagiaire in stagiaires %}
    
    <tr>
        <td>    <a href="{{path ('show_stagiaire',{'id':stagiaire.id})}}">{{ stagiaire.nomStagiaire }} </a></td>
        <td>  {{ stagiaire.prenomStagiaire }}</td>
        <td>   <a href=" {{ path ('supprimer_stagiaire',{'id':stagiaire.id}) }}"><i class="fa-regular fa-trash-can"></i></a> </td>
        <td> <a href=" {{ path ('edit_stagiaire',{'id':stagiaire.id}) }}"> edit</a> </td>


    </tr>     
  
{% endfor %}

    
</table>
<h1>Ajouter un stagiaire</h1>

   {{form_start(formAddStagiaire)}}
   <div class="formulaireStagiaires" >     
   {{ form_row(formAddStagiaire.nomStagiaire) }}
   {{ form_row(formAddStagiaire.prenomStagiaire) }}
   {{ form_row(formAddStagiaire.adress) }}
   {{ form_row(formAddStagiaire.dateNaissance) }}
   {{ form_row(formAddStagiaire.sexe) }}
   {{ form_row(formAddStagiaire.email) }}
   <span>{{ form_row(formAddStagiaire.submit) }}</span>
</div>
   {{ form_end(formAddStagiaire) }}





{% endblock %}  
