{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}

<h1>Details d'un stagiaire</h1>


 nom prenom :{{ stagiaire.nomStagiaire ~" "~ stagiaire.prenomStagiaire }} <br>
 adresse:{{ stagiaire.adress }} <br>
 date Naissance : {{ stagiaire.dateNaissance | date("m/d/Y") }} <br>
 email : {{ stagiaire.email }} <br>
 sexe : {{ stagiaire.sexe }}

 <h1>sessions prevues : </h1>

{% for stagiaire in stagiaire.sessions %}
  {{ stagiaire.nomSession }}
  (du {{ stagiaire.dateDebut | date("m/d/Y") }}
 au {{ stagiaire.dateFin | date("m/d/Y") }} )<br>
    
{% endfor %}
    

    


{% endblock %}
