{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="toutsPageSession">
<div class="formulaireSession">
        
    {{ form_start(formAddSession) }}
    <div class="champFormSession">
        {{ form_row(formAddSession.nomSession, {'label': 'Nom Session'}) }}
        {{ form_row(formAddSession.dateDebut)}}
        {{ form_row(formAddSession.dateFin) }}
        {{ form_row(formAddSession.nbPlaceTotal) }}
        {{ form_row(formAddSession.reference) }}
        {{ form_row(formAddSession.formation) }}
        {{ form_row(formAddSession.adress) }}
        {{ form_row(formAddSession.submit) }}

    {{ form_end(formAddSession) }}
    </div> 
    
    </div>
<div class="sessionElements">
  
    <div class="sessions">
    <table>
        <tr >
            <th colspan="9"> Liste des sessions Passees </th>
        </tr>
        <tr>

           <th>Statut</th>
            <th >Nom Formation</th>
            <th>Nom Session</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>NB Places</th>
            <th>Referent</th>
            <th>Edition</th>
            <th class="champ">Suppression</th>
        
        </tr>
    {% for session in SessionsPassees %}

        <tr>
             <td data-label ='statut'>{% if session.stagiaires | length == session.nbPlaceTotal %}
                <span><i class="uil uil-check-circle"></i></span>
                {% else %}   <span><i class="uil uil-check"></i></span>
                {% endif %}
               
               
            </td>
                <td data-label ='Formation :'> {{session.formation }} </td>
            <td data-label ='Session :' class="champSession "><a href="{{ path ('show_session',{'id':session.id})}}"> {{ session.nomSession}} </a>  </td>
            <td data-label ='Date Debut :'> {{session.dateDebut | date ('Y-m-d') }} </td>
            <td data-label ='Date Fin :'>{{ session.dateFin | date ('Y-m-d') }}</td>
            <td data-label ='Nb des Places :' > {{ session.stagiaires |length  }}/{{ session.nbPlaceTotal }} </td>
            <td data-label ='Referent :'>{{ session.reference }}</td>
          
            <td class="iconEditRemove"><a href=" {{ path ('edit_session',{'id':session.id})  }}"><i class="fa-regular fa-pen-to-square"></i></a> </td>
            <td class="iconEditRemove"> <a href="{{ path ('delete_session',{'id':session.id}) }}"><i class="fa-regular fa-trash-can"></i></a></td>
        

        </tr>
    

    {% endfor %}

    </table>



    <table>
        <tr >
            <th colspan="9  "> Liste des sessions Encours </th>
        </tr>
        <tr>
        <tr>
            <th>Statut</th>
            <th class="champFormation">Nom Formation</th>
            <th>Nom Session</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>NB Places</th>
            <th>Referent</th>
            <th>Edition</th>
            <th class="champ">Suppression</th>
        
        </tr>
    {% for session in SessionsEncours %}

        <tr>
            <td data-label ='statut'>{% if session.stagiaires | length == session.nbPlaceTotal %}
            <span><i class="uil uil-check-circle"></i></span>
                {% else %}   <span><i class="uil uil-check"></i></span>
                {% endif %}

            <td data-label ='Formation :'> {{session.formation }} </td>
            <td data-label ='Session :' class="champSession"><a href="{{ path ('show_session',{'id':session.id})}}"> {{ session.nomSession}} </a>  </td>
            <td data-label ='Date Debut :'> {{session.dateDebut | date ('Y-m-d') }} </td>
            <td data-label ='Date Fin :'>  {{ session.dateFin | date ('Y-m-d') }}</td>
            <td data-label ='Nb des Places :'> {{ session.stagiaires |length  }}/{{ session.nbPlaceTotal }} </td>
            <td data-label ='Referent :'>{{ session.reference }}</td>
            <td class="iconEditRemove"><a href=" {{ path ('edit_session',{'id':session.id})  }}"><i class="fa-regular fa-pen-to-square"></i></a> </td>
            <td class="iconEditRemove"><a href="{{ path ('delete_session',{'id':session.id}) }}"><i class="fa-regular fa-trash-can"></i></a></td>
            

        </tr>
    

    {% endfor %}

    </table>


    <table>
        <tr >
            <th colspan="9"> Liste des sessions à venir </th>
        </tr>
        <tr>
        <tr>
            <th>Statut</th>
            <th class="champFormation">Nom Formation</th>
            <th>Nom Session</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>NB Places</th>
            <th>Referent</th>
            <th>Edition</th>
            <th class="champ">Suppression</th>
        
        </tr>
    {% for session in SessionAvenir %}

        <tr>
            <td data-label ='statut'>{% if session.stagiaires | length == session.nbPlaceTotal %}
                <span><i class="uil uil-check-circle"></i></span>
                {% else %}   <span><i class="uil uil-check"></i></span>
                {% endif %}


            <td data-label ='Formation :'> {{session.formation }} </td>
            <td data-label ='Session :' class="champSession"><a href="{{ path ('show_session',{'id':session.id})}}"> {{ session.nomSession}} </a>  </td>
            <td data-label ='Date debut :'> {{session.dateDebut | date ('Y-m-d') }} </td>
            <td data-label ='Date Fin :'>  {{ session.dateFin | date ('Y-m-d') }}</td>
            <td data-label ='Nb des Places :'> {{ session.stagiaires |length  }}/{{ session.nbPlaceTotal }} </td>
            <td data-label ='Referent :'>{{ session.reference }}</td>
            <td class="iconEditRemove"><a href=" {{ path ('edit_session',{'id':session.id})  }}"><i class="fa-regular fa-pen-to-square"></i></a> </td>
            <td class="iconEditRemove"> <a href="{{ path ('delete_session',{'id':session.id}) }}"><i class="fa-regular fa-trash-can"></i></a></td>

        </tr>
    

    {% endfor %}
    </table>


    </div>





</div>

</div>
{# <h1><a href=" {{ path ('add_programe') }} ">Ajouter un programe</a></h1> #}
{% endblock %}
