{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}


{% block body %}


 <h1>{{ session.nomSession }} </h1>
 Nom Formateur :{{ session.reference }} <br>
 Date Debut : {{ session.dateDebut | date("m/d/Y") }} <br>
 Date Fin :{{ session.dateFin | date("m/d/Y") }} <br>
 Numbre de places total :{{ session.nbPlaceTotal }} <br>
 Numbre de places disponible : {{  session.nbPlaceTotal  - session.stagiaires |length  }}
 Numbre de Modules : {{ session.programes |length }}
 ({% for programe in session.programes %}
 {{ programe.cours.nomCours }}
 {% endfor %})


  


<div class="">
<table class="listePrograme">
  <h2>progrmame</h2> 
  <tr>
   <th>Nom cours</th>
   <th>Categorie</th>
   <th>Duree</th>
   <th></th>

  </tr>


 {% for programe in session.programes %}
 <tr>
    <td>  {{ programe.cours.nomCours }}</td>
    <td> {{ programe.cours.categorie }}</td>
    <td>  {{ programe.duree }}</td>
    <td>   <a href="{{ path ('delete_programe',{'id':programe.id}) }}">supprimer</a><br>
      {% endfor %}</td>

 </tr>
 
  
</table>


 
 <h1>Liste des stagiaires dans cette session :</h1>
 
 <table class="listePrograme">
  <tr>
    <th>Nom Stagiaire</th>
    <th>Desinscrire</th>
    
  </tr>

 {% for stagiaire in stagiaires %}
 <tr>
  <td> <a href=" {{ path ('show_stagiaire',{'id':stagiaire.id}) }} ">{{ stagiaire.nomStagiaire }}</a></td>
  <td><a href=" {{ path ('delete_stagiaire',{'id':session.id,'idStagiaire':stagiaire.id}) }}">Desinscrire</a></td>

 
</tr>
 {% endfor %} 

</table>
 <h2>liste des stagiaire pas inscrits :</h2>
<table class="listePrograme">
  <tr>
    <th>Nom Stagiaire</th>
    <th>Ajouter</th>

  </tr>
 {% if session.stagiaires |length == session.nbPlaceTotal   %}
  <p>Session complète, vous ne pouvez plus inscrire de stagiaires</p>
 {% else %}
  {% for stagiaire in nonInscrits %}
    <tr>
      <td> <a href=" {{ path ('show_stagiaire',{'id':stagiaire.id}) }} ">{{ stagiaire.nomStagiaire }}</a></td>
      
      <td><a href=" {{ path ('ajouter_stagiaire',{'id':session.id,'idStagiaire':stagiaire.id}) }}">ajouter</a></td>
    </tr>
   
      
  {% endfor %} 
</table>
 {% endif %}


</div>


{% endblock %}
