{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<table>
  <h2>progrmame</h2> 
 {% for programe in session.programes %}
   {{ programe.cours }}
   {{ programe.duree }}
   <a href="{{ path ('delete_programe',{'id':programe.id}) }}">supprimer</a><br>
 {% endfor %}

 
 <h1>Liste des stagiaires dans cette session :</h1>
 
 {% for stagiaire in stagiaires %}
 
 <a href=" {{ path ('show_stagiaire',{'id':stagiaire.id}) }} ">{{ stagiaire.nomStagiaire }}</a>
 <a href=" {{ path ('delete_stagiaire',{'id':session.id,'idStagiaire':stagiaire.id}) }}">Desinscrire</a><br>
 
 {% endfor %} 
 <h2>liste des stagiaire pas inscrits :</h2>

 {% if session.stagiaires |length == session.nbPlaceTotal   %}
  <p>Session complète, vous ne pouvez plus inscrire de stagiaires</p>
 {% else %}
  {% for stagiaire in nonInscrits %}
    
    <a href=" {{ path ('show_stagiaire',{'id':stagiaire.id}) }} ">{{ stagiaire.nomStagiaire }}</a>
    <a href=" {{ path ('ajouter_stagiaire',{'id':session.id,'idStagiaire':stagiaire.id}) }}">ajouter</a><br>
      
  {% endfor %} 
 {% endif %}


</table>


{% endblock %}
