{% extends 'base.html.twig' %}

{% block title %}Hello ReferenceController!{% endblock %}

{% block body %}

 <div class="formateurElements">
   
   {# <div class="listFormateur">
      {% for reference in references %}
         <span>  {{ reference }} </span>
      {% endfor %}
   </div>  #}

<table>
   <tr>
      <th colspan="2">Liste Des Formateurs</th>
   </tr>
   <tr>
      <th>Nom Prenom</th>
      <th>sessions</th>
   </tr>
   {% for reference in references %}
   <tr>
      <td>{{reference}}</td>
      <td>   {% for session in reference.sessions %}
         ({{session.nomSession}})
      {% endfor %}</td>
   </tr>
    
   {% endfor %}
</table>

<div class="formateurForm">
<h1>Ajouter un formateur</h1>
{{ form_start(formAddReference)}}
{{form (formAddReference)}}

{{ form_end(formAddReference) }}
</div>
</div>
{% endblock %}






