{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

<div class="tout">

<div class="listCategorie">

<h2 class="responsive">List categorie</h2>
<table>
    <tr>
        <th colspan="2">liste des Categories</th>
    </tr>
    <tr>
       
        <th>Nom categorie</th>
        <th>Cours</th>
    </tr>

{% for categorie in categories %}
    <tr>
        <td><span>{{ categorie.nomCategorie }} </span></td>
        <td>{% for cours in categorie.cours %}
            ({{ cours.nomCours }})
               
           {% endfor %}</td>
    </tr>
{% endfor %}

</table>
</div>
<div class="categoriesElements">
   

<div class="Formulaires">

<div class="formulaireCategorie">
    {{ form_start(formAddCategorie) }}

      {{ form_row (formAddCategorie.nomCategorie) }}    
      {{ form_row (formAddCategorie.submit,{'label' : 'Ajouter'}) }}    

    {{ form_end(formAddCategorie) }}
</div>

<div class="forrmulaireCours">
    {{ form_start(formAddCours) }}

    {{ form_row (formAddCours.nomCours) }} 
    {{ form_row (formAddCours.categorie) }} 
    {{ form_row (formAddCours.submit,{'label' : 'Ajouter'}) }} 

{{ form_end(formAddCours) }}



</div>
</div>

</div>
</div>
{% endblock %}
